{{- /* content query */ -}}
{
  {{ template "pagination.tmpl" . }}
  "query": {
    "bool": {
      "must": {
        {{- template "scoreWeightedTerm.tmpl" . }}
      },
      {{ template "contentFilters.tmpl" . }}
    }
  },
  {{ template "suggest.tmpl" . }},
  {{ template "source.tmpl" . }},

  {{- if .Highlight -}}
    {{ template "highlight.tmpl" . }},
  {{- end -}}

  {{ template "sort.tmpl" . }}
}
